<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.demo.pojo.User" name="user3">
        <constructor-arg index="0" value="12"/>
        <constructor-arg index="1" value="wyf"/>
        <!--<constructor-arg name="name" value="default"/>-->
        <property name="name" value="wyf"></property>
    </bean>

    <alias name="user" alias="userWithAnotherNName"/>

    <bean id="userNew" class="com.demo.pojo.User" name="user1 userBa"></bean>
</beans>