<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用Spring来创建对象，在Spring中称为Bean
    对象由Spring创建
    id:变量名
    class: new对象
    property 为属性赋值-->
    <bean id="userDao" class="com.demo.wyf.dao.UserDaoImpl" />
    <bean id="mysqlUserDao" class="com.demo.wyf.dao.UserDaoMysqlImpl"/>
    <bean id="oracleUserDao" class="com.demo.wyf.dao.UserDaoOracleImpl"/>
    <!--
    ref：引用Spring容器中创建好的对象
    value：具体的值，基本数据
    -->
    <bean id="userService" class="com.demo.wyf.service.UserServiceImpl">
        <property name="userDao" ref="oracleUserDao"></property>
    </bean>
</beans>